body {
  background-color: white;
  font-size: 100%;
}

.cd-timeline-content {
  background-color: #F0F0F0;
  padding: 0px;
  box-shadow: 0 2px 5px #d7e4ed;
  border-radius: 4px;
}

.cd-timeline-content .cd-date {
  font-size: 1.5em
}

.cd-timeline-img h2 {
  text-align: center;
  font-size: 2em;
  color:white;
  margin-top: 30%;
}

.panel {
  margin: 0px;
  border-width: 1px;
  border-radius: 1px;
}

.panel-group {
  margin: 0px;
}

.panel-primary {
  border-color: transparent;
}

.panel-heading {
  cursor: pointer;
}

.panel-body {
  font-size: 1.33em;
}

.container-fluid a {
  text-decoration: none;
}