body {
  background-color: white;
  font-size: 100%;
}

/* Functional */
.strong {
  font-weight: bold;
}

.block {
  display: block;
}

.container-fluid a {
  text-decoration: none;
}

.panel {
  margin: 0px;
  border-width: 1px;
  border-radius: 1px;
}

.panel-group {
  margin: 0px;
}

.panel-primary {
  border-color: transparent;
}

.panel-heading {
  cursor: pointer;
}

.panel-body {
  font-size: 1.33em;
}

p {
  font-size: 1.33em;
}

.center-justified {
  text-align: justify;
  margin: 0 auto;
}

.sources {
  list-style: none;
}


@media screen and (max-width: 1170px) {
  .interval-number {
    font-size: 75%;
  }

  #cd-timeline {
    margin-top: 50px;
  }

  .mileage-title {
    float: left;
    padding-left: 4%;
  }

  .cost-panel {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 25px;
  }

  .sub-title {
    font-size: 18px;
  }

  .panel-title {
    font-size: 9px;
  }

  .mileage-title {
    float: left;
    padding-left: 2%;
  }
}

