body {
  background-color: white;
  font-size: 100%;
}

.container-fluid a {
  text-decoration: none;
}

.panel {
  margin: 0px;
  border-width: 1px;
  border-radius: 1px;
}

.panel-group {
  margin: 0px;
}

.panel-primary {
  border-color: transparent;
}

.panel-heading {
  cursor: pointer;
}

.panel-body {
  font-size: 1.33em;
}

@media only screen and (min-width: 421px) {
  .btn.btn-primary.btn-lg.show-report {
    width: 60%;
    padding: 9px;
    margin-top: 1.5em;
  }
  .btn.btn-primary.btn-lg {
   text-align: center;
   width: 10%;
   padding: 10px;
   margin: 7px 0;
   font-size: 2.2em;
  }
}

@media only screen and (min-width: 0px) {
  .btn.btn-primary.btn-lg {
   text-align: center;
   width: 30%;
   padding: 9px;
  }
}
  .text-center h1 {
    font-size: 4.5em;
    margin-bottom: 1em;
  }